<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>List of Colleges</h2>
    </div>
</div>
<div class="panel-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of college">
                <td>{{u.cid}}</td>
                <td>{{u.cname}}</td>
                <td>{{u.ctype}}</td>
                <td>{{u.location}}</td>
                <td> <button (click)="updateCollege(u.cid)" class="btn btn-info" style="margin-left: 10 px;">Update</button>
                    <button (click)="deleteCollege(u.cid)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
